* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {}


/*---------------------------------USEABLE-------------------------------*/


/*------------------------------BUTTOM--------------------------------------------*/

.btn {
    text-align: center;
    color: #fff;
    border: none;
    outline: none;
    background-color: transparent;
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    min-width: 150px;
    border-radius: 50px;
    transition: opacity 0.3s linear;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-s {
    padding: 8px 20px;
}

.btn-l {
    padding: 15px 40px;
}

body .btn.disable {
    opacity: .5;
    cursor: default;
}

.btn:hover {
    cursor: pointer;
    opacity: .8;
}

.btn-success {
    background-color: green;
}

.btn-warning {
    background-color: yellow;
}

.btn-error {
    background-color: red;
}

.btn+.btn {
    margin-left: 10px;
}


/*------------------------------TOAST----------------------------------*/

#toast {
    position: fixed;
    right: 30px;
    top: 40px;
    transition: all linear 0.5s;
}

.toast {
    display: flex;
    border-radius: 2px;
    max-width: 500px;
    min-width: 400px;
    padding: 20px 0;
    align-items: center;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    z-index: 10000;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 30px));
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    from {}
    to {
        opacity: 0;
    }
}

.toast__success {
    border-color: green;
}

.toast__success .toast__icon {
    color: green;
}

.toast__warning {
    border-color: yellow;
}

.toast__warning .toast__icon {
    color: yellow;
}

.toast__info {
    border-color: blue;
}

.toast__info .toast__icon {
    color: blue;
}

.toast__error {
    border-color: red;
}

.toast__error .toast__icon {
    color: red;
}

.toast+.toast {
    margin-top: 24px;
}

.toast__icon {
    font-size: 24px;
}

.toast__icon,
.toast__close {
    padding: 0 16px;
}

.toast__body {
    flex-grow: 1;
}

.toast__title {
    font-size: 25px;
    font-weight: 700;
}

.toast__content {
    line-height: 1.3;
    margin-top: 6px;
    font-weight: 500;
}

.toast__close {
    font: size 20px;
    color: rgba(0, 0, 0, 0.5);
}